.card{
    border:1px solid lightgray;
    padding:10px 8px;
    margin:10px;
    background-color: rgb(50 67 113);
    color:white;
    border-radius: 10px;
    display:flex;
    height:35vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card >p{
    margin: -5px auto;
}
.card >h2{
    font-weight: 600;
   font-size:1.2rem;
   margin-top:6%
}
.player >h4{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;    
}
.winner{
    width:fit-content;
    display: flex;
    flex-direction: column;
   margin:-13px;
}
.loser{
   
    margin:-13px;
    margin-top:40px;
}
.whole{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag-india{
    height: 50px;
    width:50px;
    border-radius: 50px;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:140px;
    position: relative;
    bottom:-14%
}
.score{
    margin:auto 10px;
    color: white;

    border-radius: 6px;
    background-color:rgb(37 179 158)
}
.score >h4{
    margin: 4px 14px;
    font-size:0.90rem
}
.whole >p{
    position: relative;
    margin-top:-70px;
    left:50%;
    transform: translateX(-50%);
}
.match-logo{
    position:relative;
    bottom:42px;
      width:10vh;
}